* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

.candle {
  position: absolute;
  width: 400px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.candle-body {
  position: relative;
  width: 100px;
  height: 300px;
  margin: 280px auto;
  background: linear-gradient(230deg, #ca9800, #573903, black 70%);
  z-index: 1;
}

.candle-body::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 40px;
  border-radius: 50%;
  top: -20px;
  background: radial-gradient(#a46800, #5c3104 45%, #905602 100%);
}

.candle-body::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 48px;
  background-color: #fff;
  left: 50%;
  top: -22px;
  transform: translate(-50%, -50%);
  border-radius: 50% 50% 0 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.8) 60%,
    #fff
  );
  opacity: 0.7;
  filter: blur(1px);
}

.fire-box {
  position: absolute;
  top: 97px;
  left: 50%;
  width: 80px;
  height: 200px;
  transform: translate(-50%, -50%);
  filter: blur(2px) contrast(20);
}

.fire {
  position: absolute;
  top: 30px;
  left: 50%;
  border-radius: 45%;
  border: 120px solid #000;
  border-bottom-color: transparent;
  transform: translate(-50%, 0) scaleX(0.45);
  background-color: #761b00;
}

.ball {
  position: absolute;
  top: 60px;
  transform: translate(0, 0);
  background-color: #fa8763;
  border-radius: 50%;
  z-index: 1;
  mix-blend-mode: screen;
}

@keyframes moveToTop {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  87.7% {
    transform: translate(0, -170px);
    opacity: 0;
  }
  100% {
    transform: translate(0, -170px);
    opacity: 0;
  }
}
