* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.container {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .spin {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 10;
  border: 4px solid rgba(0, 0, 0, 0.75);
  cursor: pointer;
  user-select: none;
}

.container .spin::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 30px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -90%);
  background-color: #fff;
  clip-path: polygon(50% 0, 15% 100%, 85% 100%);
}

.container .spin::after {
  content: "👆";
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  color: orange;
  z-index: 11;
  animation: up 1s ease 0.5s 3;
  opacity: 0;
  transform: translateY(10px);
}

@keyframes up {
  0% {
    opacity: 1;
    transform: translateY(30px);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

.container .wheel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #333, 0 0 0 15px #fff, 0 0 0 18px #111;
  overflow: hidden;
  transition: transform 5s ease-in-out;
}

.container .number {
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: var(--color);
  transform-origin: bottom right;
  transform: rotate(calc(45deg * var(--i)));
  clip-path: polygon(0 0, 56% 0, 100% 100%, 0 56%);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.container .number span {
  position: relative;
  transform: rotate(45deg);
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.15);
}
