* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flag {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform: translateX(-100%);
}

.active {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.images {
  display: flex;
}

.images > img:nth-child(2) {
  transition-delay: 200ms;
}

.images > img:nth-child(3) {
  transition-delay: 400ms;
}
