@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

*{
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

body{
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.menu{
    font-family: "Raleway", Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.menu li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 2.2em;
    overflow: hidden;
}

.menu a{
    padding: 0 0.2em 0 0.5em;
    position: relative;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
}

.menu a::before,
.menu a::after{
    position: absolute;
    transition: all 0.35s ease;
}

.menu a::before{
    left: 100%;
    display: block;
    width: 3px;
    height: 100%;
    content: "";
    background-color: #f39c12;
}

.menu a::after{
    padding: 0 0.2em 0 0.5em;
    position: absolute;
    left: 100%;
    top: 0;
    content: attr(data-hover);
    color: white;
    white-space: nowrap;
}

.menu li:hover a,
.menu .current a{
    transform: translateX(-100%);
}