* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  position: absolute;
  width: 200vw;
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0);
  }
  100% 
  {
    transform: rotate(360deg);
  }
}

.bg span {
  position: absolute;
  width: 500px;
  height: 150vh;
  transform: translate(-50%, -50%) rotate(calc(30deg * var(--i)));
  transform-origin: bottom right;
}

.bg span::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 500px;
  box-shadow: -90px -90px 0 89.20px #ff0954;
}

.bg span:nth-child(even)::before {
  box-shadow: -90px -90px 0 89.20px #3c4396;
}