@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #111;
  overflow-x: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

section h2 {
  position: relative;
  color: #fff;
  font-size: 8vw;
  font-weight: 500;
}

.container {
  position: relative;
  top: -200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 700px;
  grid-gap: 30px;
}

.container .box {
  position: relative;
  top: 50vh;
  width: 200px;
  height: 200px;
  transition: 0.5s;
  background-color: #fff;
  border-radius: 10px;
}

.container .box:nth-child(3n + 1) {
  transform: translate(-400px, 0) scale(0);
}

.container .box:nth-child(3n + 2) {
  transform: translate(0, 400px) scale(0);
}

.container .box:nth-child(3n + 3) {
  transform: translate(400px, 0) scale(0);
}

.container .box.active {
  transform: translate(0, 0) scale(1);
}
